p.data_center_title {
	margin-bottom: 8px;
}

span.data_center_title {
	background-color:  white;
	font-size: 14px;
	font-weight: bold;
	padding: 5px auto 5px 15px;
}

td.genome_tab_focus {
	background-color:#81AD34;
	border-top-left-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
	font-size:14px;
	padding: 3px;
	font-weight:bold;

}

td.genome_tab_unfocus {
	background-color:#BEDAA7;
	border-top-left-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
	font-size:14px;
	padding: 3px;
	font-weight:bold; opacity:0.4;filter:alpha(opacity=40)
}

td.genomebrowser_tab_focus {
	background-color:#81AD34;
	border-top-left-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
	font-size:14px;
	padding: 3px;
	font-weight:bold;
    cursor: pointer;

}

td.genomebrowser_tab_unfocus {
	background-color:#BEDAA7;
	border-top-left-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
	font-size:14px;
	padding: 3px;
	font-weight:bold; opacity:0.4;filter:alpha(opacity=40);
    cursor: pointer;
}

#search_left_col {
  float:left;
  width:725px;
  margin-left:17px;
  margin-right:0px;
}

#search_right_col {
  float:right;
  width:287px;
  margin-left:0px;
  margin-right:10px;
  background-color:#D3DEBC;
  padding: 4px;

  border-top: 2px solid #D3DEBC;
  border-bottom: 2px solid #D3DEBC;
  border-right: 2px solid #D3DEBC;
  border-left: 2px solid #D3DEBC;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#discussion_lite_green_background {
  background-color:#E6EDDB;
  padding: 3px;
  margin-left:8px;
  margin-right:5px;
  border-top: 5px solid #E6EDDB;
  border-bottom: 5px solid #E6EDDB;
  border-right: 5px solid #E6EDDB;
  border-left: 5px solid #E6EDDB;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#search_lite_green_background {
  background-color:#E6EDDB;
  margin-left:10px;
  margin-top:5px;
  width:710px;
  padding: 5px;
  border-top: 5px solid #E8E8E8;
  border-bottom: 5px solid #E8E8E8;
  border-right: 5px solid #E8E8E8;
  border-left: 5px solid #E8E8E8;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#search_gray_background {
  background-color:#E8E8E8;
  margin-left:10px;
  margin-top:5px;
  width:710px;
  padding: 5px;
  border-top: 5px solid #E8E8E8;
  border-bottom: 5px solid #E8E8E8;
  border-right: 5px solid #E8E8E8;
  border-left: 5px solid #E8E8E8;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#search_green_background {
  background-color:#D3DEBC;
  margin-left:10px;
  margin-top:5px;
  width:710px;
  padding: 5px;
  border-top: 2px solid #D3DEBC;
  border-bottom: 2px solid #D3DEBC;
  border-right: 2px solid #D3DEBC;
  border-left: 2px solid #D3DEBC;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#datacenter_lite_blue_background {
  background-color:#d2e1f0;
  padding: 3px;
  margin-left:8px;
  margin-right:5px;
  border-top: 5px solid #d2e1f0;
  border-bottom: 5px solid #d2e1f0;
  border-right: 5px solid #d2e1f0;
  border-left: 5px solid #d2e1f0;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
-webkit-border-bottom-left-radius:1em;
}

#datacenter_left_col {
  float:left;
  width:725px;
  margin-left:17px;
  margin-right:0px;
}

#datacenter_right_col {
  float:right;
  width:287px;
  margin-left:0px;
  margin-right:10px;
  background-color:#D3DEBC;
  padding: 4px;

  border-top: 2px solid #D3DEBC;
  border-bottom: 2px solid #D3DEBC;
  border-right: 2px solid #D3DEBC;
  border-left: 2px solid #D3DEBC;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#datacenter_lite_green_background {
  background-color:#E6EDDB;
  padding: 3px;
  margin-left:8px;
  margin-right:5px;
  border-top: 5px solid #E6EDDB;
  border-bottom: 5px solid #E6EDDB;
  border-right: 5px solid #E6EDDB;
  border-left: 5px solid #E6EDDB;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#datacenter_lite_gray_background {
  background-color:#EAEAEA;
  padding: 3px;
  margin-left:8px;
  margin-right:5px;
  border-top: 5px solid #EAEAEA;
  border-bottom: 5px solid #EAEAEA;
  border-right: 5px solid #EAEAEA;
  border-left: 5px solid #EAEAEA;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#datacenter_gray_background {
  background-color:#E8E8E8;
  margin-left:10px;
  margin-top:5px;
  width:710px;
  padding: 5px;
  border-top: 5px solid #E8E8E8;
  border-bottom: 5px solid #E8E8E8;
  border-right: 5px solid #E8E8E8;
  border-left: 5px solid #E8E8E8;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#datacenter_green_background {
  background-color:#D3DEBC;
  margin-left:10px;
  margin-top:5px;
  width:710px;
  padding: 5px;
  border-top: 2px solid #D3DEBC;
  border-bottom: 2px solid #D3DEBC;
  border-right: 2px solid #D3DEBC;
  border-left: 2px solid #D3DEBC;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#datacenter_title {
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 6px;
}

#datacenter_infobox {
  background-color:#D3DEBC;
  margin-left:10px;
  margin-top:5px;
  padding: 5px;
  border-top: 2px solid #D3DEBC;
  border-bottom: 2px solid #D3DEBC;
  border-right: 2px solid #D3DEBC;
  border-left: 2px solid #D3DEBC;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#main_search_background{
background-color:#E6EDDB;
margin-left:10px;
margin-top:5px;
width:710px;
padding: 5px;
border-top: 5px solid #E6EDDB;
border-bottom: 5px solid #E6EDDB;
border-right: 5px solid #E6EDDB;
border-left: 5px solid #E6EDDB;


border-top-right-radius: 1em;
border-top-left-radius: 1em;
border-bottom-right-radius: 1em;
border-bottom-left-radius: 1em;

-moz-border-radius-topright:1em;
-moz-border-radius-topleft:1em;
-moz-border-radius-bottomright:1em;
-moz-border-radius-bottomleft:1em;

-webkit-border-top-right-radius:1em;
-webkit-border-top-left-radius:1em;
-webkit-border-bottom-right-radius:1em;
-webkit-border-bottom-left-radius:1em;
}

div.sec_green {
    background-color: #2A750040;/*#2A750040;*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
}

div.sec_header_green {
    font-weight: bold;
    background-color: #2A75008A; /*#2A75008A; /*#0A550A8A;*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: black;
    font-size: 22px;
    font-family: Georgia, serif;
    text-align: center;
    height: 30px;
    padding-top: 5px;
    
}

/* Reset <select> defaults */
.select_header {
  appearance: none;
  border: 0;
  outline: 0;
  background: none;
  color: inherit;
  box-shadow: none;
  height: 90px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  &::-ms-expand {
    display: none; 
  }
}
/*select::-ms-expand {
  display: none;
}*/

.select_label {
  position: relative;
  display: flex;
  /*width: min(20rem, 90vw);*/
  background: linear-gradient(to left, #5AA5308A 62px, #2A75008A 62px);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /*overflow: hidden;*/
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  /* Select style */
  select {
    /*flex: 1;*/
    padding: 5px;
    cursor: pointer;
    height: 50px;
  }
  /* Arrow style */
  &::after {
    content: "\25BC";
    position: absolute;
    right: 20px;
    top: 12px;
    transition: 0.25s all ease;
    pointer-events: none; /* IMPORTANT to click on arrow */
  }
  /* Arrow hover */
  &:hover::after {
    color: #f39c12;
    animation: bounce 0.5s infinite;
  }
}
@keyframes bounce {
  25% {
    transform: translatey(5px);
  }
  75% {
    transform: translatey(-5px);
  }
}