#results_box,#sequence-results {
  padding: 4px;
  border: #909090 solid 1px;

  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;

  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;

  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

.disabled_form_set {
  color: #909090;
  background-color: #f0f0f0;
}

td.gene_center_tab {
  border-top-left-radius:  10px 5px;
  border-top-right-radius: 10px 5px;
  /*width:                   25%;*/
  font-size:               14px;
  padding:                 3px;
  font-weight:             bold;
  cursor:                  pointer;
}

td.gene_center_tab_focus {
	background-color:        #81AD34;
}

td.gene_center_tab_unfocus {
	background-color: #BEDAA7;
	opacity:          0.6;
  filter:           alpha(opacity=60);
}

.genome_box {
  background-color: #e8e8e8;
}
