div.inner_table {
    position:relative; 
	left:0px; /*20*/
	top:0px;  /*10*/
	height:200px; 
	width:100%;
	background-color:#ffffff;
	overflow:auto; 
	border-bottom: thin dashed green; 
	border-right: thin dashed green; 
	border-left: thin dashed green; 
	border-top: thin solid green;
}

td.gene_model_tab_focus {
	background-color:#3486AE; /*#81AD34;*/
	border-top-left-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
	font-size:12px;
	padding: 3px;
	font-weight:bold;

}

td.gene_model_tab_unfocus {
	background-color:#BBCEDA; /*#BEDAA7; */
	border-top-left-radius: 10px 5px; 
	border-top-right-radius: 10px 5px; 
	font-size:12px; 
	padding: 3px; 
	font-weight:bold; opacity:0.4;filter:alpha(opacity=40)
}
