img{
	border: 0;
}
#big{
 	line-height:200%;
}
#stock_decryption_content
{
 float: left;
 color: #333;
 border: 0px solid white;
 background: white;
 margin-top: 10px;
 margin-bottom: 20px;
 margin-left: 20px;
 margin-right: 20px;
 padding: 0px;
}

.bluelink A:link {text-decoration: none;color:blue; padding-right: 0px;}
.bluelink A:visited {text-decoration: none; color:blue; padding-right: 0px;}
.blueklink A:active {text-decoration: none; color:blue; padding-right: 0px;}
.blueklink A:hover {text-decoration: none; color:blue; padding-right: 0px;}
#bold_title{
font-weight:bold;
font-size:12px;
color:black;
}
#link_blue{
 text-decoration:none;
 color:blue;
}
