* { padding: 0; margin: 0; }

body,td,th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
}

p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
}

a {
  text-decoration: none;
}

h1  {
  background-color: #386f0d;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px auto 5px 15px;
}
  
h1.title  {
  background-color: white;
  color: green;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  height: 15px;
}
  
h2.subtitle  {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 5px auto 5px 15px;
  margin-left: 10px;
}
  
div.column_collapsible_section {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 5px auto 5px 15px;
  margin-left: 10px;
  display: block;
}
  
div.small_tab {
  margin-left: 8px;
}
  
td.header_table_left {
  background: url(../images/top_menu_left.png);
}
  
td.header_table_right {
  background: url(../images/top_menu_right.png);
  }
  
td.header_table_background {
  background: url(../images/top_menu_bg.png);
}
  
tr.header_table_background {
  background-color: #EEEEEE;
}
  
td.header_search_table_left {
  background: url(../images/top_menu_left.png);
}
  
td.header_search_table_right {
  background: url(../images/top_menu_right.png);
}
  
td.header_search_table_background {
  background-color: #EEEEEE;
}
  
tr.header_search_table_background {
  background: url(../images/top_menu_bg.png);
}
  
td.green_curve_left {
  background: url(../images/header_left.png);
}
  
td.green_curve_right {
  background: url(../images/header_right.png);
}
  
td.green_curve_background {
  background-color: #386F0D;
  color: white;
  font-weight:bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
}
  
tr.green_curve_background {
  background-color: #386F0D;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight:bold;
}
  
td.lite_grey_background {
  background-color: #E8E8E8;
  margin-left: 10px;
}
  
tr.lite_grey_background {
  background-color: #E8E8E8;
  margin-left: 10px;
}
  
td.lite_blue_background {
  background-color: #EAFEFF;
}
  
tr.lite_blue_background {
  background-color: #EAFEFF;
}
  
td.lite_green_background {
  background-color: #ECFADB;
}
  
tr.lite_green_background {
  background-color: #ECFADB;
}

td.lite_green_background _1 {
  background-color: #D3DEBC;
}
  
tr.lite_green_background_1 {
  background-color: #D3DEBC;
}

  
ul.record_navigation {
  margin-left:   30px;
  margin-top:    10px;
  margin-bottom: 10px;
  list-style-position: outside;
  list-style-image: url(../images/bulletpoint.png);
  font-family:   Verdana, Arial, Helvetica, sans-serif;
  font-size:     11px;
}  

fieldset {
  padding:       0.5em;
  margin-top:    0.5em;
  margin-bottom: 0.1em;
  border:        1px solid black;
}

legend {
  padding:     0.2em 0.5em;
  font-size:   90%;
  text-align:  right;
  color:       black;
  font-weight: bold;
}

fieldset.minor {
  padding:      0.2em;
  margin-top:   0.1em;
  margin-right: 0.1em;
  border:       1px solid gray;
}

.disabled {
  color:      gray;
  background: #f0f0f0;
}

#wrapper { 
  margin: 0 auto;
  width: 1280px;
  text-align:left;
  background-position:bottom;
  min-height:500 px;
  z-index:1;
}

#popup-wrapper { 
  margin: 0;
  width: 800px;
  text-align:left;
  background-position:bottom;
  min-height:500 px;
  z-index:1;
}

#nav {
  width: 700px;
  height: 35px;
  text-align:center;
}
  
#logo {
  background:url(../images/curation_logo.png);
  height: 126px;
	margin-left: 100px;
	margin-top: 0px;
	margin-right: 100px;
	margin-bottom: 0px;
  width: 1080px;
  background-repeat:no-repeat;
  background-position:left;
}
  
#popup-logo {
  background:url(../images/curation_logo.png);
  height: 126px;
  margin-left: 5px;
  margin-top: 0px;
  margin-right: px;
  margin-bottom: 0px;
  width: 790px;
  background-repeat:no-repeat;
  background-position:left;
}
  
#logo_link {
  display:block;
  height:150px;
  text-indent:-9999px;
  width:250px;
}
  

#content_remove {
  float: center;
	margin-left: 100px;
	margin-top: 0px;
	margin-right: 100px;
	margin-bottom: 0px;
  background-color:white;
  width: 1080px;
  min-height: 400px;
}
  
#popup-content {
  float: center;
  margin-left: 5px;
  margin-top: 0px;
  margin-right: px;
  margin-bottom: 0px;
  background-color:white;
  width: 790px;
  min-height: 400px;
}
  
#content_record {
  float: center;
  margin-left: 100px;
  margin-top: 0px;
  margin-right: 100px;
  margin-bottom: 0px;
  background-color:white;
  width: 1080px;
  min-height: 760px;
}
  
#whitecurve {
  float: center;
	margin-left: 100px;
	margin-top: 0px;
	margin-right: 100px;
	margin-bottom: 0px;
  width: 1080px;
  padding: 0px;
}

#popup-whitecurve {
  float: center;
  margin-left: 5px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  width: 790px;
  padding: 0px;
}

#footer {
  clear: both;
  margin-left: 100px;
  margin-top: 0px;
  margin-right: 100px;
  margin-bottom: 0px;
  width: 1080px;
  z-index:9999;
}

.inset_div {
  border: 1px solid gray;
  padding: 2px;
  background-color: #fcfcfc;
}

.container {
  background-position:bottom;
  background-repeat:no-repeat;
  min-height:500 px;
}

.navigation {
  background:url(../images/nav_bg.png);
  background-repeat:repeat-x;
  color: #FFFFFF;
}
  
.navigation_footer {
  background:url(../images/footer_bg.png);
  background-repeat:repeat-x;
  color: #FFFFFF;
}


.footer {
  color: #FFFFFF;
}
  
#notfound {
  font-weight:bold;
  font-size: 130%
}

#header {
 color: #333;
 width: 900px;
 float: left;
 padding: 10px;
 border: 1px solid #ccc;
 height: 100px;
 margin: 10px 0px 5px 0px;
 background: #BD9C8C;
 background: url(../images/body_bg.jpg);
background-repeat: repeat-x;
}

#column_collapsible_section {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#curation_div {
  margin: 0 2px 0 2px;
  width: 770px;
}

#new_curation_rec {
   padding: 2px;
   background-color: #E6EBFA; /*honeydew;*/
   color: darkslategray;
   border: 1px solid ##C0E6FA; /*darkseagreen;*/
   font-weight: bold;
   font-size: 9pt;
}

#edit_curation_rec {
   padding: 2px;
   background-color: aliceblue;
   color: mediumblue;
   border: 1px solid lightskyblue;
   font-weight: bold;
   font-size: 9pt;
}

#login_gray_background {
  background-color:#E8E8E8;
  margin-left:10px;
  margin-top:5px; 
  width:710px;
  padding: 5px;
  border-top: 5px solid #E8E8E8;
  border-bottom: 5px solid #E8E8E8;
  border-right: 5px solid #E8E8E8;
  border-left: 5px solid #E8E8E8; 
  
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;	
  border-bottom-left-radius: 1em;	
  
  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;
  
  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

#login_green_background {
  background-color:#D3DEBC;
  margin-left:10px; 
  margin-top:5px; 
  width:710px;
  padding: 5px;
  border-top: 2px solid #D3DEBC;
  border-bottom: 2px solid #D3DEBC;
  border-right: 2px solid #D3DEBC;
  border-left: 2px solid #D3DEBC; 
  
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;	
  border-bottom-left-radius: 1em;	
  
  -moz-border-radius-topright:1em;
  -moz-border-radius-topleft:1em;
  -moz-border-radius-bottomright:1em;
  -moz-border-radius-bottomleft:1em;
  
  -webkit-border-top-right-radius:1em;
  -webkit-border-top-left-radius:1em;
  -webkit-border-bottom-right-radius:1em;
  -webkit-border-bottom-left-radius:1em;
}

.underlinedlink A:link {text-decoration: underline;color: blue; padding: 0px;}
.underlinedlink A:visited {text-decoration: underline; color:blue; padding: 0px;}
.underlinedlink A:active {text-decoration: underline; color:blue; padding: 0px;}
.underlinedlink A:hover {text-decoration: underline; font-weight:bold; color: blue; padding: 0px;}

.greylink A:link {text-decoration: none;color: grey; padding: 0px;}
.greylink A:visited {text-decoration: none; color:grey; padding: 0px;}
.greylink A:active {text-decoration: none; color:grey; padding: 0px;}
.greylink A:hover {text-decoration: none; font-weight:bold; color: grey; padding: 0px;}

div.navarea{
 text-align: right
}

div.help {
  border: 1px solid white;
  background-color: #f9f9f9;
  text-align: left;
}
.smalltext {
  font-size: 10pt;
}

.error {
  color: red;
  font-weight: bold;
}

.noteworthy {
  color: green;
  font-weight: bold;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #5483bc;
   background: -webkit-gradient(linear, left top, left bottom, from(#0640a5), to(#5483bc));
   background: -webkit-linear-gradient(top, #0640a5, #5483bc);
   background: -moz-linear-gradient(top, #0640a5, #5483bc);
   background: -ms-linear-gradient(top, #0640a5, #5483bc);
   background: -o-linear-gradient(top, #0640a5, #5483bc);
   padding: 5px 10px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: center;
   }
.button:hover {
   border-top-color: #0640a5;
   background: #5483bc;
   color: #000000;
   }
.button:active {
   border-top-color: #5483bc;
   background: #0640a5;
   }

.button_container {
   padding:1em; 
   vertical-align: center;
   }
   
.quick_search {
   font-size:18px;
   }