.stock_image_tab {
  border-top: 3px green solid;
  border-right: 3px green solid;
  border-left: 3px green solid;
  border-bottom: 0px green dashed;
  text-align: center;
}
.stock_image_tab_off {
  background-color: #aaaaaa;
  border-bottom: 3px green dashed;
}
.stock_image_tab_on {
  border-bottom: 0px green dashed;
}

.stock_image_tab_empty {
  align: right;
  width: 25%;
  border-bottom: 3px green dashed;
}
.stock_image_box {
  width:         100%;
  border-right:  3px green dashed;
  border-left:   3px green dashed;
  border-bottom: 3px green dashed;
}
.stock_image_internal_box {
  position: relative;
  left:     20px;
  top:      5px;
  width:    100%;
}

.stock_image_iframe {
  color:  green;
  width:  80%;
  height: 200;
}

td.stock_tab_focus {
	background-color:#81AD34;
	border-top-left-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
	font-size:11px;
	padding: 3px;
	font-weight:bold;

}

td.stock_tab_unfocus {
	background-color:#BEDAA7;
	border-top-left-radius: 10px 5px;
	border-top-right-radius: 10px 5px;
	font-size:11px;
	padding: 3px;
	font-weight:bold; opacity:0.4;filter:alpha(opacity=40)
}

.pedigree-network {
  width: 900px;
  height: 900px;
}
