div.cytogenetic_search_background{
display:none;
background-color:#E8E8E8;
margin-left:10px;
margin-top:5px; 
width:710px;
padding: 5px;
border-top: 5px solid #E8E8E8;
border-bottom: 5px solid #E8E8E8;
border-right: 5px solid #E8E8E8;
border-left: 5px solid #E8E8E8; 
 

border-top-right-radius: 1em;
border-top-left-radius: 1em;
border-bottom-right-radius: 1em;	
border-bottom-left-radius: 1em;	

-moz-border-radius-topright:1em;
-moz-border-radius-topleft:1em;
-moz-border-radius-bottomright:1em;
-moz-border-radius-bottomleft:1em;

-webkit-border-top-right-radius:1em;
-webkit-border-top-left-radius:1em;
-webkit-border-bottom-right-radius:1em;
-webkit-border-bottom-left-radius:1em;
}