#leftcolumn-whatsnew{
 float: left;
 color: white;
 background: white;
 margin-top: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 margin-right: 0px;
 padding: 0px;
 width: 160px;
}

#rightcolumn-whatsnew{
 float: right;
 color: white;
 background: white;
 margin-top: 0px;
 margin-bottom: 0px;
 margin-left: 10px;
 margin-right: 0px;
 padding: 0px;
 width: 854px;
 
}

#whatsnew-tab{
 border-top: 15px solid #D3DEBC;
 border-bottom: 15px solid #D3DEBC;
 border-right: 1px solid #D3DEBC;
 
 background:#D3DEBC;

border-top-right-radius: 1em;
border-bottom-right-radius: 1em;	


-moz-border-radius-topright:1em;

-moz-border-radius-bottomright:1em;

-webkit-border-top-right-radius:1em;

-webkit-border-bottom-right-radius:1em;
}

