div.underlinedlink{
  text-align: right
}


#leftcolumn-contact {
  float: left;
  color: #333;
  border: 0px solid white;
  background: white;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  width: 675px;
  float: left;
}

#rightcolumn-contact {
  color: #333;
  border: 0px solid white;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  width: 380px;
  height: 685px;
  display: inline;
}

#table-header{
  background: #D3DEBC;
}

#contact-table-even{
  background: #F5F5F5;
}

#contact-table-odd{
  background: #DCE9F9;
}

#contact-tab{
  border-style:solid;
  border-width: 1px;
  border-color:white;
}

img {
  border-style: none;
}
