#podcast_text
{
 float: left;
 color: #333;
 border: 0px solid white;
 background: white;
 margin-left: 20px; 
 margin-top:0px;
 width: 698px;
 height: 780px;
}
#podcast_picture
{ 
 float: right;
 color: #333;
 border: 0px solid white;
 background: white;
 margin-left:5px;
 margin-right:5px;
 width: 320px;
 height: 670px;
 display: inline;
}