dt {
  font-weight:bold;
  margin-left: 10px;
}
dd {
  margin-left: 20px;
}

td.genome_center_tab {
  border-top-left-radius:  10px 5px;
  border-top-right-radius: 10px 5px;
  /*width:                   25%;*/
  font-size:               14px;
  padding:                 3px;
  font-weight:             bold;
  cursor:                  pointer;
}

td.genome_center_tab_focus {
	background-color:        #81AD34;
}

td.genome_center_tab_unfocus {
	background-color: #BEDAA7;
	opacity:          0.6;
  filter:           alpha(opacity=60);
}
