ul.contribute-data-faq {
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	list-style-position: outside;
	list-style-image: url(../images/bulletpoint.png);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#cont-data-bott-row {
  float: left;
  color: #333;
  border: 0px solid white;
  background: white;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  width: 1070px;
  height: 530px;
  float: left;
}

div.cont_data_bott_faq {
  font-weight: bold;
}

#contrib_data_tab {
  border: 2px solid #D3DEBC;
  background:#D3DEBC;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;	
  border-bottom-left-radius: 2em;
  -moz-border-radius-topleft:2em;
  -moz-border-radius-topright:2em;
  -moz-border-radius-bottomleft:2em;
  -moz-border-radius-bottomright:2em;
  -webkit-border-top-left-radius:2em;	
  -webkit-border-top-right-radius:2em;
  -webkit-border-bottom-left-radius:2em;
  -webkit-border-bottom-right-radius:2em;
}


