ol.uniformmu {
    list-style-position: outside;
    padding: 10px 10px 10px 25px;
}
li.uniformmu {
  margin-top: 0px;
}
dd.uniformmu {
  text-indent: 30px;
}
img.uniformmu_block {
  border: 1px solid black;
}
blockquote {
  margin-left: 20px;
}