#cite_text
{
 float: left;
 color: #333;
 border: 0px solid white;
 background: white;
 margin-left: 20px; 
 margin-top:0px;
 width: 698px;
}
#cite_picture
{ 
 float: right;
 color: #333;
 border: 0px solid white;
 background: white;
 margin-right:25px;
 width: 320px;
 height: 670px;
 display: inline;
}
#faq_text
{
 float: left;
 color: #333;
 border: 0px solid white;
 background: white;
 margin-left: 20px; 
 margin-top:0px;
 width: 698px;
}
#faq_picture
{ 
 float: right;
 color: #333;
 border: 0px solid white;
 background: white;
 margin-right:0px;
 margin-left:30px;
 width: 320px;
 height: 670px;
 display: inline;
}

#search_gray_background{
background-color:#E8E8E8;
margin-left:10px;
margin-top:5px;
width:650px;
padding: 5px;
border-top: 5px solid #E8E8E8;
border-bottom: 5px solid #E8E8E8;
border-right: 5px solid #E8E8E8;
border-left: 5px solid #E8E8E8;


border-top-right-radius: 1em;
border-top-left-radius: 1em;
border-bottom-right-radius: 1em;
border-bottom-left-radius: 1em;

-moz-border-radius-topright:1em;
-moz-border-radius-topleft:1em;
-moz-border-radius-bottomright:1em;
-moz-border-radius-bottomleft:1em;

-webkit-border-top-right-radius:1em;
-webkit-border-top-left-radius:1em;
-webkit-border-bottom-right-radius:1em;
-webkit-border-bottom-left-radius:1em;
}
#search_green_background{
background-color:#D3DEBC;
margin-left:10px;
margin-top:5px;
width:650px;
padding: 5px;
border-top: 5px solid #D3DEBC;
border-bottom: 5px solid #D3DEBC;
border-right: 5px solid #D3DEBC;
border-left: 5px solid #D3DEBC;


border-top-right-radius: 1em;
border-top-left-radius: 1em;
border-bottom-right-radius: 1em;
border-bottom-left-radius: 1em;

-moz-border-radius-topright:1em;
-moz-border-radius-topleft:1em;
-moz-border-radius-bottomright:1em;
-moz-border-radius-bottomleft:1em;

-webkit-border-top-right-radius:1em;
-webkit-border-top-left-radius:1em;
-webkit-border-bottom-right-radius:1em;
-webkit-border-bottom-left-radius:1em;
}

#search_lite_green_background{
background-color:#E6EDDB;
margin-left:10px;
margin-top:5px;
width:650px;
padding: 5px;
border-top: 5px solid #E6EDDB;
border-bottom: 5px solid #E6EDDB;
border-right: 5px solid #E6EDDB;
border-left: 5px solid #E6EDDB;

border-top-right-radius: 1em;
border-top-left-radius: 1em;
border-bottom-right-radius: 1em;
border-bottom-left-radius: 1em;

-moz-border-radius-topright:1em;
-moz-border-radius-topleft:1em;
-moz-border-radius-bottomright:1em;
-moz-border-radius-bottomleft:1em;

-webkit-border-top-right-radius:1em;
-webkit-border-top-left-radius:1em;
-webkit-border-bottom-right-radius:1em;
-webkit-border-bottom-left-radius:1em;
}