.bac_sequence_internal_box {
  position: relative; 
  left:     20px;
  top:      5px;  
  width:    100%;
}

.bac_sequence_iframe {
  color:  green;
  width:  80%;
  height: 200;
}

.bac_tabbed_box {
  position: relative; 
  left:     20px;
  top:      5px; 
  width:    95%;
}

.bac_tabbed_box_enclosure {
  width:                              95%; 
  background-color:                   white;
  
  border-bottom-right-radius:         1em;	
  border-bottom-left-radius:          1em;	
  
  -moz-border-radius-bottomright:     1em;
  -moz-border-radius-bottomleft:      1em;
  
  -webkit-border-bottom-right-radius: 1em;
  -webkit-border-bottom-left-radius:  1em;
}

.bac_evidence_box {
  position:         relative; 
  left:             20px;
  top:              10px; 
  height:           300px; 
  width:            90%; 
  background-color: #ffffff; 
  overflow:         auto; 
  border-bottom:    thin solid #81AD34; 
  border-right:     thin solid #81AD34; 
  border-left:      thin solid #81AD34; 
  border-top:       thin solid #81AD34;
}

.bac_evidence_view_box {
  position:         relative; 
  left:             20px;
  top:              10px; 
  border-width:     1px; 
  border-color:     #81AD34; 
  border-style:     solid; 
  height:           400px; 
  width:            90%; 
  background-color: #ffffff; 
  overflow:         auto;
}